/* this css file will only style the homepage of our site */
body {
  font-family: 'Courier New', monospace;
}
.me-picture {
  margin: 10px;
  max-width: 400px;
}

img {
  border-radius: 8px;
}

.center {
  text-align: center;
  border: dotted 5px rgb(111, 158, 185);
}