/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */

body {
  background-color: #89006d;
  font-family: 'Courier New', monospace;
 }
 body {
  background-size: cover;
}


body, html {
  height: 100%;
}

.bg {
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* we can have rules apply to multiple elements at the same time with commas */
h1, h2, h3 {
  font-family: 'Londrina Sketch', cursive;
  font-weight: bold;
  margin: 0;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #f194ff;
  background-color: #f082a5;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #434343;
  background-color: #f7ccec;
}

.special {
  background-color: lavender;
  border: dotted 5px rgb(111, 158, 185);
  color: rgb(94, 0, 157);
  font-weight: bold;
}